configuration {
	modi: "run,drun,window";
    width: 60;
    lines: 12;
    columns: 3;
    font: "MesloLGS NF 11";
    location: 0;
    padding: 18;
    sidebar-mode: true;
	color-normal: "#005E818C, #D8DEE9, #005E818C, #005E818C, #BF616A";
	color-urgent: "#505E818C, #EBCB8B, #505E818C, #505E818C, #EBCB8B";
	color-active: "#505E818C, #D08770, #505E818C, #505E818C, #D08770";
	color-window: "#505E818C, #505E818C, #505E818C";
}
