configuration {
	modi: "run,drun,window";
    width: 60;
    lines: 12;
    columns: 3;
    font: "DejaVu Sans Mono 11";
    location: 0;
    padding: 25;
    sidebar-mode: true;
	color-normal: "#005E6A8C, #D8DEE9, #005E6A8C, #005E6A8C, #BF616A";
	color-urgent: "#CC5E6A8C, #EBCB8B, #CC5E6A8C, #CC5E6A8C, #EBCB8B";
	color-active: "#CC5E6A8C, #D08770, #CC5E6A8C, #CC5E6A8C, #D08770";
	color-window: "#CC5E6A8C, #CC5E6A8C, #CC5E6A8C";
}
