configuration {
    modi: "run,drun,window";
    font: "DejaVu Sans Mono 12";
    location: 0;
    sidebar-mode: true;
    show-icons: true;
}

@theme "mytheme"

listview {
    lines: 12;
    columns: 3;
}

window {
    width: 60%;
    padding: 30;
}

