configuration {
    modi: "run,drun,window";
    width: 60;
    lines: 12;
    columns: 3;
    font: "DejaVu Sans Mono 12";
    location: 0;
    padding: 30;
    sidebar-mode: true;
    show-icons: true;
    color-normal: "#2E3440, #D8DEE9, #2E3440, #2E3440, #BF616A";
    color-urgent: "#2E3440, #EBCB8B, #2E3440, #2E3440, #EBCB8B";
    color-active: "#2E3440, #D08770, #2E3440, #2E3440, #D08770";
    color-window: "#2E3440, #2E3440, #2E3440";
}

